body {
	background-color: #211a21;
	display: grid;
	grid-auto-flow: column;
	justify-items: center;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr 0.75fr 0.5fr 0.75fr 1fr;
	grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		". title title title ."
		". calculator calculator calculator ."
		". calculator calculator calculator ."
		". calculator calculator calculator ."
		". . . . .";
}
.title {
	grid-area: title;
	color: #b5b6e4;
}
.calculator {
	grid-area: calculator;
	background-color: #908a99;
	border-radius: 4%;
	width: 100%;
	height: auto;
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
	grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
	grid-template-areas:
		". . . . . ."
		". screen screen screen screen ."
		". clear clear back back ."
		". seven eight nine divide ."
		". four five six multiply ."
		". one two three subtract ."
		". point zero equals add ."
		". . . . . .";
}
.screen {
	grid-area: screen;
	background-color: #cec9cc;
	justify-content: center;
	text-align: right;
	padding-right: 3%;
	border-radius: 4%;
}
.clear {
	font-size: 120%;
	grid-area: clear;
	font-weight: bolder;
	background-color: #4f43ae;
}
.back {
	font-size: 120%;
	grid-area: back;
	font-weight: bolder;
	background-color: #4f43ae;
}
.three {
	font-size: 120%;
	grid-area: three;
	font-weight: bolder;
	background-color: #b5b6e4;
	color: #4d0a3b;
}
.four {
	font-size: 120%;
	grid-area: four;
	font-weight: bolder;
	background-color: #b5b6e4;
	color: #4d0a3b;
}
.five {
	font-size: 120%;
	grid-area: five;
	font-weight: bolder;
	background-color: #b5b6e4;
	color: #4d0a3b;
}
.six {
	font-size: 120%;
	grid-area: six;
	font-weight: bolder;
	background-color: #b5b6e4;
	color: #4d0a3b;
}
.seven {
	font-size: 120%;
	grid-area: seven;
	font-weight: bolder;
	background-color: #b5b6e4;
	color: #4d0a3b;
}
.eight {
	font-size: 120%;
	grid-area: eight;
	font-weight: bolder;
	background-color: #b5b6e4;
	color: #4d0a3b;
}
.nine {
	font-size: 120%;
	grid-area: nine;
	font-weight: bolder;
	background-color: #b5b6e4;
	color: #4d0a3b;
}
.divide {
	font-size: 120%;
	grid-area: divide;
	font-weight: bolder;
	background-color: #4f43ae;
}
.multiply {
	font-size: 120%;
	grid-area: multiply;
	font-weight: bolder;
	background-color: #4f43ae;
}
.subtract {
	font-size: 120%;
	grid-area: subtract;
	font-weight: bolder;
	background-color: #4f43ae;
}
.one {
	font-size: 120%;
	grid-area: one;
	font-weight: bolder;
	background-color: #b5b6e4;
	color: #4d0a3b;
}
.two {
	font-size: 120%;
	grid-area: two;
	font-weight: bolder;
	background-color: #b5b6e4;
	color: #4d0a3b;
}
.add {
	font-size: 120%;
	grid-area: add;
	font-weight: bolder;
	background-color: #4f43ae;
}
.equals {
	font-size: 120%;
	grid-area: equals;
	font-weight: bolder;
	background-color: #de3860;
}
.zero {
	font-size: 120%;
	grid-area: zero;
	font-weight: bolder;
	background-color: #b5b6e4;
	color: #4d0a3b;
}
.point {
	font-size: 120%;
	grid-area: point;
	font-weight: bolder;
	background-color: #b5b6e4;
	color: #4d0a3b;
}
